				<!-- Additional Elements -->
                <section class="wrapper style1 align-center">
                    <div class="inner">
                        <section>
                            <div class="content">
                                <div class="box">
                                    <h3>Interested in the images?</h3>
                                    <p>If you wish to reuse any of the images, please link and acknowledge this website. </p>
                                </div>
                            </div>
                        </section>
                    </div>
                </section>
